@import "tailwindcss";
/* Hide the default browser tooltip */
[title] {
  pointer-events: none; 
}

.cursor-pointer {
  pointer-events: auto;
}

/* Tooltip styles */
.custom-tooltip {
  visibility: hidden; 
  position: absolute;
  bottom: 60%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 1.0); 
  color: #000000; 
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px; 
  font-weight: medium;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease; 
  white-space: nowrap;
}

/* Show tooltip on hover */
.group:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

/* src/index.css */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Customize Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: rgb(156 163 175) !important; 
  width: 32px !important; 
  height: 32px !important; 
  transition: color 0.3s ease !important; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(75 85 99) !important; 
}

/* Adjust arrow icon size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem !important; 
  font-weight: bold !important; 
}

/* Customize Swiper pagination dots */
.swiper-pagination-bullet {
  background-color: rgb(156 163 175) !important; 
  opacity: 1 !important; 
  width: 8px !important; 
  height: 8px !important; 
  margin: 0 4px !important; 
}

.swiper-pagination-bullet-active {
  background-color: rgb(75 85 99) !important; 
}

/* Full-screen overlay */
.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Close button */
.close-button {
  position: absolute;
  top: 20px; 
  right: 20px; 
  color: #444a54; 
  font-size: 1.5rem; 
  cursor: pointer;
  z-index: 1001; 
  background: rgba(216, 218, 223, 0.8); 
  border: none;
  padding: 0; 
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; 
}

/* Hover effect for close button */
.close-button:hover {
  background: rgba(229, 231, 235, 1); 
}

/* Custom Scrollbar Styling */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px; 
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #D1D5DB; 
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f3f4f6; 
  border-radius: 4px;
}